@import "Style.css";

.interests-wrap {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.interests-card {
  width: 100%;
  max-width: 480px;
  background: var(--color-primary);
  border: 1px solid var(--color-secondary);
  border-radius: 16px;
  padding: 28px;
  box-shadow: 25px 25px 10px rgba(0,0,0,0.3);
  border:2px solid var(--color-accent); 
  text-align: center;
}

.interests-title {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.interests-menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.2rem;
  justify-items: center;
  margin-bottom: 1.5rem;
}

.interest-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interest-icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.interest-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-tertiary);
  border: 2px solid var(--color-accent);
  cursor: pointer;
  transition: all 0.2s ease;
}

.interest-circle:hover {
  background-color: var(--color-secondary);
}

.interest-circle.selected {
  background-color: var(--color-dark-accent);
  color: white;
  border-color: #111;
}

.interest-label {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  text-align: center;
  color: #333;
}

@media (max-width: 700px) {
  .interests-menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.2rem;
  justify-items: center;
  margin-bottom: 1.5rem;
 }
  .interest-circle {
    width: 60px;
    height: 60px;
    font-size: 1.6rem;
  }
}

@media (max-width: 480px) {
  .interests-menu {
    grid-template-columns: repeat(2, 1fr);
  }
}
