@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Theme colors */
:root {

  /* Default Page Colors */
  --color-primary: #fff;
  --color-secondary: #ccc;
  --color-dark: var(--color-primary);
  --color-accent: #8851bc;
  --color-accent-dark: #703aa2;

  /* Text Colors */
  --color-text-dark: #111;
  --color-text-light: #ffffff;

  /* Default Button Colors */
  --button-bg-color: var(--color-accent);
  --button-bg-color-dark: var(--color-accent-dark);
  --button-text-color: #fff;
  --button-disabled-bg: #ccc;
  --button-disabled-color: #666;

  /* Misc Colors */
  --error-color: #a20000;
  --card-bg: #f5f5f5;       /* background of auth-card */
  --input-bg: #fff;         /* background of inputs */
  --hint-color: #a20000;    /* password hint color */
  --switch-color: #666;     /* auth-switch text color */
  --switch-link-hover: underline;
} 

body {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  background: var(--color-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #121212;
    --color-surface: #1f1f1f;
    --color-text: #f1f1f1;
    --color-border: #333;
  }
}